.Option {

    &:hover {
        text-decoration: underline;
    }

    font-size: 12pt;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
}

.Vote {

    &:focus {
        outline:0;
    }

    font-size: 12pt;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
}

.Options-Block {
    display: inline-flex;
}