.Create-Arg-Input {
  border-width: 0;
  background-color:#f5f5f5;
  width: 50vw;
  height: 10vh;
}

.Loading-Spinner {
  margin-top: 20px;
}

.Form-Buttons {
  display: inline-flex;
}

.Error-Message {
  color: #fb6767;
}